section {
    width: 1110px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 70px;
}

.hero_card1 {
    h2 {
        width: 470px;
        height: 78px;
        font-family: Open Sans;
        font-size: 30px;
        font-weight: 700;
        line-height: 39px;
        padding-top: 20px;
    }

    p {
        width: 465px;
        height: 74px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-top: 40px;
    }

    button {
        width: 232px;
        height: 40px;
        padding: 8px, 16px, 8px, 16px;
        border-radius: 5px;
        border: none;
        background-color: #00BAFC;
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        color: #FFF;
        margin-top: 50px;
    }
}

.hero_card2 {
    .hero_img1 {
        position: relative;
        width: 458px;
        height: 258px;
        border-radius: 5px;
    }

    .hero_img2 {
        width: 150px;
        height: 105.76px;
        position: absolute;
        right: 210px;
        top: 210px;
        opacity: 90%;
    }
}




























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































