.section2 {
    width: 1110px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 150px;
}

.section2_card1 {
    h3 {
        width: 262px;
        margin: auto;
        height: 31px;
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: 31px;
        text-align: center;

    }

    p {
        width: 719px;
        margin: auto;
        height: 48px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-top: 20px;
    }
}

.section2_card2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 60px;
    width: Hug (832px);
    height: Hug (224.59px);
    gap: 32px;
}

.section2_card3 {
    margin-top: 110px;

    h4 {
        width: 277px;
        height: 26px;
        font-family: Open Sans;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;

    }

    p {
        width: 445px;
        height: 48px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

    }
}

.section2_card4 {
    width: Hug (832px);
    height: Hug (224.59px);
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

.section2_card5 {
    margin-top: 70px;

    h4 {
        width: 277px;
        height: 26px;
        font-family: Open Sans;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
    }

    p {
        height: 48px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.section2_card6 {
    width: Hug (832px);
    height: Hug (224.59px);
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

.section2_card7 {
    margin-top: 110px;

    h4 {
        width: 277px;
        height: 26px;
        font-family: Open Sans;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
    }

    p {
        height: 48px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.section2_card8 {
    width: Hug (832px);
    height: Hug (224.59px);
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.section2_card9 {
    margin-top: 80px;

    h4 {
        width: 277px;
        height: 26px;
        font-family: Open Sans;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
    }

    p {
        height: 48px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.section2_card10 {
    width: Hug (832px);
    height: Hug (224.59px);
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.section2_card11 {
    margin-top: 100px;

    h4 {
        width: 277px;
        height: 26px;
        font-family: Open Sans;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
    }

    p {
        height: 48px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.section2_card12{
    button{
        width: 167px;
        height: 40px;
        top: 24px;
        padding: 8px, 16px, 8px, 16px;
        border-radius: 5px;
        gap: 10px;
        background-color: #00BAFC;
        border: none;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #FFFFFF;
        margin-left: 460px;
        margin-top: 30px;
    }
}